.container.bg-light
  .col-md-12.text-center
    %h1 Artists 

.container.bg-light
  .col-md-10.text-left

  %table.table.table-dark
    %thead
      %tr
        %th Name
        %th Genres
        %th Country
        %th Active
        %th
        %th
        %th

    %tbody
      - @artists.each do |artist|
        %tr
          %td= artist.name
          %td= artist.genres
          %td= artist.country
          %td= artist.active
          %td= link_to 'Add Song', new_song_path(artist_id: artist),style: "color: white;"
          %td= link_to 'Details', artist,style: "color: white;"
          %td= link_to 'Edit', edit_artist_path(artist),style: "color: white;"
          %td= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' },style: "color: white;"

%br


.container
  .col-md-12.text-center
    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => new_artist_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Add New Artist

