%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Genres:
  = @artist.genres
%p
  %b Country:
  = @artist.country
%p
  %b Active:
  = @artist.active

%p= link_to 'Add Song', new_song_path(artist_id: @artist)

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path


%p Songs:
%table
  %tbody
    - @artist.songs.each do |song|
      %tr
        %td= song.name  
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song , :method => :delete, :data => { :confirm => 'Are you sure?' }
