%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Genres:
  = @artist.genres
%p
  %b Country:
  = @artist.country
%p
  %b Active:
  = @artist.active

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path
