
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"}
%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/",id: 'linkcolorwhite'} SUBCULTURE MUSIC
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li.navbarheader
          
          = link_to 'Playlist', playlists_path,id: 'linkcolorwhite'
        %li.navbarheader
           
          = link_to 'Artist', artists_path,id: 'linkcolorwhite'

        %li.navbarheader
          
          = link_to 'Song', songs_path,id: 'linkcolorwhite'
       
        %li.navbarheader
          
          = link_to 'Contact',contact_path,id: 'linkcolorwhite'
          
    
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          
            
          %li.navbarheader
            %h4{style: " padding-top: 5px  "}="#{current_user.email}" 
          %li.navbarheader  
            %a{:href => edit_user_registration_path,id: 'linkcolorwhite'}Profile  
          %li.navbarheader
            = link_to t('logout'), destroy_user_session_path, method: 'delete',id: 'linkcolorwhite'
          %li.navbarheader
            
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                Select Mode
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:onclick => " light()"} Light Mode
                %li
                  %a{:onclick => " dark()"} Dark Mode
        - else
          %li.navbarheader
            %a{:href => new_user_session_path,id: 'linkcolorwhite'} Login
          %li.navbarheader
            %a{:href => new_user_registration_path,id: 'linkcolorwhite'}Sign Up
          %li.navbarheader
            
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                Select Mode
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:onclick => " light()"} Light Mode
                %li
                  %a{:onclick => " dark()"} Dark Mode
                




