%h1 Home#artist
%p Find me in app/views/home/artist.html.haml

%h1{:style => "text-align: center;"} List of Artists

.container-fluid
  
  %table.table.table-dark
    %thead
      %tr
        %th Name
        %th Genres
        %th Country
        %th Active
    %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name 
        %td= artist.genres
        %td= artist.country
        %td= artist.active
        %td= link_to 'Show', artist
        %td= link_to 'Edit', edit_artist_path(artist)
        %td= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }











.container
  .col-md-12.text-center
    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => new_artist_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Add New Artist

