
%h1=t('.title')
%p=t('.description')

= form_tag request_contact_path, method: 'post' do
    = label_tag :name, t('.name')
    = text_field_tag :name, '', title: t('.enter_name'), size: 50
    = label_tag :email, t('.email')
    = email_field_tag :email, '', title: t('.enter_email')
    = label_tag :telephone, t('.telephone')
    = telephone_field_tag :telephone, '', title: t('.enter_telephone')
    = label_tag :message, t('.message')
    = text_field_tag :message, '', title: t('.enter_message'), size: 100
    = submit_tag t('.submit')


.container
    .row
    .col-md-6.col-md-offset-3
        .well.well-sm
        %form.form-horizontal{:action => request_contact_path , :method => "post"}
            %fieldset
            %legend.text-center Contact us
            / Name input
            .form-group
                %label.col-md-3.control-label{:for => "name"} Name
                .col-md-9
                %input#name.form-control{:name => "name", :placeholder => "Your name", :type => "text"}/
            / Email input
            .form-group
                %label.col-md-3.control-label{:for => "email"} Your E-mail
                .col-md-9
                %input#email.form-control{:name => "email", :placeholder => "Your email", :type => "text"}/
            / Message body
            .form-group
                %label.col-md-3.control-label{:for => "message"} Your message
                .col-md-9
                %textarea#message.form-control{:name => "message", :placeholder => "Please enter your message here...", :rows => "5"}
            / Form actions
            .form-group
                .col-md-12.text-right
                %button.btn.btn-primary.btn-lg{:type => "submit"} Submit    
