%h1 Home#playlist
%p Find me in app/views/home/playlist.html.haml


%h1 Listing playlists

%table
  %thead
    %tr
      %th Name
      %th Created by
      %th
      %th
      %th

  %tbody
    - @playlists.each do |playlist|
      %tr
        %td= playlist.name
        %td= playlist.created_by
        %td= link_to 'Show', playlist
        %td= link_to 'Edit', edit_playlist_path(playlist)
        %td= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' }
        
       

        
%br

= link_to 'New Playlist', new_playlist_path
