%h1 Home#song
%p Find me in app/views/home/song.html.haml

%h1{:style => "text-align: center;"} List of Songs



.container-fluid
  
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Artist
        %th Album
        %th Duration
    %tbody
    - @songs.each do |song|
      %tr
        %td= song.name
        %td= song.artist.name
        %td= song.album
        %td= song.duration
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }
        %td= button_to 'Add to Playlist', addsongtolist_path(song_id:song)

%br
%br

