
%h1{:style => "text-align: center;"} List of Songs



.container-fluid
  
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th Artist
        %th Album
        %th Duration
    %tbody
    - @songs.each do |song|
      %tr
        %td= song.name
        %td= song.artist
        %td= song.album
        %td= song.duration
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }


%br
%br

.container
  .col-md-12.text-center
    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => new_song_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Add New Song

