%p#notice= notice

%p
  %b Name:
  = @playlist.name
%p
  %b Created by:
  = @playlist.created_by



%p Songs:
%table
  %thead
    %tr
      %th Artist
      %th Name
      %th Album
      %th Duration
      %th
      %th
      %th

  %tbody
    - @playlist.list_songs.each do |list|
      - @songs.each  do |song| 
        - if list.song_id == song.id
          %tr
            %td= song.artist.name
            %td= song.name
            %td= song.album
            %td= song.duration
       
= link_to 'Edit', edit_playlist_path(edit_playlist_path)

= link_to 'Back', playlists_path


