%p#notice= notice
.container.bg-light
  .col-md-10.text-center
    %p
      
      %h1= @playlist.name
    %p
      %b Created by:
      = @playlist.created_by


.container.bg-light
  .col-md-10.text-left
    %h4{style: "text-align: left;"} Songs:
    %table.table.table-dark
      %thead
        %tr
          %th Artist
          %th Name
          %th Album
          %th Duration
          
          
          

      %tbody
        - @playlist.list_song.each do |list|
          - @songs.each  do |song| 
            - if list.song_id == song.id
              %tr
                %td= song.artist.name
                %td= song.name
                %td= song.album
                %td= song.duration
          


.container.bg-light
  .col-md-10.text-center

    
    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href =>  edit_playlist_path(@playlist), :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Edit

    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => playlists_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Back

